* {
    font-family: Helvetica, sans-serif;
    color: #ffffff;
}

body {
    background: radial-gradient(#9c9c9c, #333333);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}
header {
    text-align: center;
    margin-top: 150px;
}
h1 {
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
}
header p {
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
}
main {
    text-align: center;
}
.btn {
margin: 10px;
width: 11em;
border: 1px solid #333333;
border-radius: 5px;
padding: 5px;
color: #ffffff;
background-color: #333333;
}
button:hover {
    cursor: pointer;
}
button:active {
    box-shadow: inset 0px 0px 5px white;
}
.hidden{
    display: none;
}
#card{
    margin-top: 150px;
}
@media screen and (max-width: 650px){
    h1 {
        width: 6em;
    }
    header p{
        width: 20em;
    }
}
@media screen and (max-width: 350px){
    h1 {
        font-size: medium;
        width: auto;
    }
    header p{
        width: 25em;
        font-size: xx-small;
    }
}